[Unit]
Description=Supabase PostgreSQL
After=hosting-net.service supabase-data.service
PartOf=hosting.target

[Container]
Image=supabase/postgres:latest
ContainerName=supabase_db
Network=hosting-net.network
Volume=supabase-data.volume:/var/lib/postgresql/data
Environment=POSTGRES_PASSWORD=%SUPABASE_DB_PASSWORD%
AutoUpdate=registry

[Install]
WantedBy=hosting.target
