[Unit]
Description=WordPress Multisite
After=wordpress-db.service
PartOf=hosting.target

[Container]
Image=wordpress:latest
ContainerName=wordpress_multisite
Network=hosting-net.network
PublishPort=8080:80
Environment=WORDPRESS_DB_HOST=wordpress_db
Environment=WORDPRESS_DB_USER=wordpress
Environment=WORDPRESS_DB_PASSWORD=%WORDPRESS_DB_PASSWORD%
Environment=WORDPRESS_DB_NAME=wordpress
AutoUpdate=registry

[Install]
WantedBy=hosting.target
